<%- include('../grid/top') %>

<script src="/public/dist/js/html5-qrcode.min.js"></script>

<style>
  .resultDiv{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }

  #reader {
    width: -webkit-fill-available;
  }
</style>

<div class="row">
  <div id="reader"></div>
</div>

<script type="text/javascript">

  function onScanSuccess(decodedText, decodedResult) {
    alert(`확인된 코드 : ${decodedText}`);
  }

  var formats = [ 
    Html5QrcodeSupportedFormats.QR_CODE, 
    Html5QrcodeSupportedFormats.CODE_39, 
    Html5QrcodeSupportedFormats.CODE_93, 
    Html5QrcodeSupportedFormats.CODE_128
  ];

  const READER_WIDTH = $('#reader').width();
  const SCANNER_SIZE = Math.round(READER_WIDTH / 3);

  const html5QrCode = new Html5Qrcode("reader");
  const config = {
    fps: 244,
    qrbox: {width: SCANNER_SIZE, height: SCANNER_SIZE},
    formatsToSupport: formats,
    supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA],
    focusMode: "continuous", 
    advanced:[{zoom: 4.0}],
  };

  html5QrCode.start({ facingMode: "environment" }, config, onScanSuccess);

</script>

<%- include('../grid/footer') %>