<%- include('../grid/top') %>

<script src="/public/dist/js/html5-qrcode.min.js"></script>

<style>
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
</style>

<div class="row">
  <div class="col">
    <div style="width:500px;" id="reader"></div>
  </div>
  <div class="col" style="padding:30px;">
    <h4>SCAN RESULT</h4>
    <div id="result">Result Here</div>
  </div>
</div>

<script type="text/javascript">
  function onScanSuccess(decodedText, decodedResult) {
    // handle the scanned code as you like, for example:
    console.log(`Code matched = ${decodedText}`, decodedResult);
}

function onScanFailure(error) {
    // handle scan failure, usually better to ignore and keep scanning.
    // for example:
    // console.warn(`Code scan error = ${error}`);
}

var formats = [ 
    Html5QrcodeSupportedFormats.QR_CODE, 
    Html5QrcodeSupportedFormats.CODE_39, 
    Html5QrcodeSupportedFormats.CODE_93, 
    Html5QrcodeSupportedFormats.CODE_128
];
let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    {
        fps: 244,
        qrbox: {width: 150, height: 250},
        formatsToSupport: formats,
        showTorchButtonIfSupported: true
    },
    false
);

html5QrcodeScanner.render(onScanSuccess, onScanFailure);
// console.log(html5QrcodeScanner.showTorchButtonIfSupported);
</script>

<%- include('../grid/footer') %>